/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {
	height: 100%;
	width: 100%;
}

.web {
	display: block;
}

.mobile {
	display: none;
}

/* 	===========================
		Typography
	=========================== */

h1 {
	margin-top: 20px;
	margin-left: 90px;
	font-family: 'Rubik', serif;
	font-weight: 500;
	font-size: 50px;
	color: rgb(0,0,74);
	
}

p {
	margin-top: 20px;
	margin-left: 90px;
	font-family: 'Rubik', serif;
	font-weight: 300;
	font-size: 16px;
}

/* 	===========================
		Text
	=========================== */

.text {
	float: left;
	margin-top: 40px;
	width: 50%;
}

/* 	===========================
		Video
	=========================== */

.video-wrapper {
	float: right;
	width:45%; 
	height:100%; 
	margin-top: 85px;
	margin-right: 2.5%;
}

.h_iframe {
	position:relative; 
	padding-top: 59%;
	margin-bottom: 4%;
}

.h_iframe iframe {
	position:absolute;
	top:0;left:0;
	width:100%; 
	height:100%;
}

#close {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px 10px;
	font-family: 'Rubik', serif;
	font-weight: 300;
	outline: 1px solid black;
}

#close:hover {
	cursor:pointer;
	background-color: black;
	color: white;
}

.stylesheet-info {
	position: fixed;
	top: 60px;
	width: 60%;
	margin-left: 20%;
	border-bottom-color: 40px;
	background-color: white;
	display: none;
}

.stylesheet-info p {
	width: 90%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 5%;
}

.stylesheet-info span {
	font-weight: 500;
}

/* 	===========================
		IMAGES
	=========================== */

.stylesheet {
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 80px;
	outline: 1px solid rgba(0,0,0,0.1);
	box-shadow: 6px 6px 8px rgba(0,0,0,0.6);
	z-index: 20;
	outline: 1px solid rgb(0,0,0,0.5);

}

.stylesheet:hover {;
	cursor: pointer;
	outline: 1px solid rgb(0,0,74);
}

.website-container {
	float: left;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 40px;
}

.website {
	width: 35%;
	margin-top: 60px;
	margin-left: 10%;
	outline: 1px solid rgba(0,0,0,0.1);
}

.name-tag {
	float: left;
	margin-left: 10%;
	width: 80%;
}

.tote {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 60px;
	z-index: 1;
}

.poster {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

/* 	===========================
		BACK TO HOME
	=========================== */

.back {
	margin-top: 50px;
	margin-right: 40px;
}

.back a:link,
.back a:visited {
	position: fixed;
	left: 5px;
	bottom: 5px;
	margin-top: 50px;
	margin-right: 40px;
	font-size: 24px;
	font-family: 'Rubik', serif;
	font-weight: 500;

	text-decoration: none;
		color: black;

}



/*  =======================
    MEDIA QUERIES
    ======================= */

@media screen and (max-width: 1000px) { 
	
	h1 {
		font-size: 36px;
	
	}

	p {
		font-size: 14px;
	}
	.video-wrapper {
		margin-top: 115px;
	}

	.stylesheet {
		float: none;
		margin-top: 60px;
		margin-bottom: 30px;
		width: 80%;
		margin-left: 10%;
	}
}

@media screen and (max-width: 666px) {

	.stylesheet {
		display: none;
	}

	h1 {
		font-size: 50px;
		
	}

	p {
		font-size: 16px;
	} 

	.web {
		display: none;
	}

	.mobile {
		display: block;
	}

	.text {
		float: left;
		width: 90%;
	}

	h1 {
		margin-left: 10%;
	}

	p {
		margin-left: 10%;
	}

	.video-wrapper {
		float: left;
		width:80%; 
		height:100%; 
		margin-top: 40px;
		margin-left: 10%;
	}

	.tote {
		float: left;
		width: 90%;
		margin-left: 5%;
	}

	.website {
		width: 90%;
		margin-top: 60px;
		margin-left: 5%;
		outline: 1px solid rgba(0,0,0,0.1);
	}

	.website-bottom {
		margin-bottom: 70px;
	}


	.back a:link,
	.back a:visited {
		padding: 5px;
	
		text-decoration: none;
		color: black;
		background-color: white;
	
	}
	
}